@import url("./variables.css");

#app {
  padding: 0;
  background: var(--primary-bg-light);
}

.header,
.sub-header {
  padding: var(--padding-m) 0;
  border-bottom: 2px solid var(--light-bg);
}

.logo-wrapper,
.input-wrapper {
  margin: 0 var(--margin-m);
}

.nav {
  padding: 0;
}

.nav,
.sub-header {
  background: rgba(154, 136, 255, 0.5);
}

.sub-header > .nav,
.nav:last-child {
  background: none;
}

.button {
  padding: var(--padding-xs);
  font-size: var(--font-size-l);
  border: none;
  background: transparent;
  transition: var(--primary-transition);
}

.button:hover {
  color: var(--secondary-text);
}

.nav-link,
.confirm {
  color: var(--dark-text);
  font-size: var(--font-size-m);
  font-weight: 600;
  border: 2px solid var(--light-bg);
  background: rgba(255, 255, 255, 0.3);
  border-radius: 1rem;
  padding: var(--padding-s) var(--padding-l);
  transition: var(--primary-transition);
}

.nav-link:hover,
.confirm:hover {
  color: var(--primary-text);
  border: 2px solid var(--secondary-bg);
}

.input {
  border-bottom: 2px solid var(--light-bg);
  transition: var(--primary-transition);
  font-family: var(--secondary-ff);
  padding-bottom: .2rem;
}

.input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.input:focus {
  border-bottom: 2px solid var(--secondary-bg);
}

.main {
  padding: var(--padding-l);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.products {
  display: flex;
  flex-direction: column;
}

.product {
  background: var(--light-bg);
  border-radius: 1rem;
  padding: var(--padding-m) var(--padding-xl);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--margin-s);
}

.column {
  padding: 0 var(--padding-m);
}

.product__image {
  height: var(--height-m);
}

.title,
.price {
  padding: var(--padding-s) 0;
}

.counts {
  display: flex;
  justify-content: center;
}

.count {
  padding: var(--padding-m);
  font-size: var(--font-size-m);
  background: rgb(245, 245, 245);
  border-radius: 1rem;
}

hr {
  border: none;
  outline: none;
  border-bottom: 2px solid var(--light-text);
  margin: var(--margin-l) 0;
}

.total {
  background: var(--light-bg);
  border-radius: 1rem;
  padding: var(--padding-m) var(--padding-xl);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: var(--margin-l);
}

.footer > .nav {
  border-top: 2px solid var(--light-bg);
  padding: var(--padding-m) 0;
}

.networks {
  justify-content: center;
}

.network {
  font-size: var(--font-size-xl);
  padding: var(--padding-s);
  border-radius: 1rem;
  border: 2px solid var(--light-bg);
  transition: var(--primary-transition);
  margin: 0 var(--margin-s);
}

.network:hover {
  color: var(--attention-text);
  border: 2px solid var(--secondary-bg);
}
