@media (min-width:320px) and (max-width:576px){
    #app {
        height: 300vh;
    }
    
    .header {
        flex-direction: column;
    }

    .input-wrapper {
        padding-top: 4rem ;
        align-self: center;
        
    }

    .input {
        font-size: 2.2rem;
    }

    .nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        font-size: 2rem;
    }

    .nav-link {
        padding: 2rem 0;
    }
    
    .nav-link:last-child {
        padding-bottom: 0;
    }
    
    .main {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .favorites-block {
        display: grid;
        grid-template-columns: repeat(1 , 1fr );
        margin-top: 50px;
    }

    .favorite {
    margin-top: 30px;
    }

    .box {
        width: 25rem;
        height: 20rem; 
    }

    .footer {
        margin-top: 120px;
    }
    
}

@media (min-width:576px) and (max-width:850px){
    #app {
        height: 150vh;
    }

    .favorites-block {
        display: grid;
        grid-template-columns: repeat(1 , 1fr );
        margin-top: 50px;
    }

    .favorite {
        margin-top: 30px;
        }

    .footer {
        margin-top: 200px;
    }
}