@media (max-width: 1400px) {
  .sub-header {
    justify-content: space-between;
  }

  .sub-header-nav {
    width: 100%;
  }
}

@media (max-width: 876px) {
  .nav {
    flex-wrap: wrap;
  }

  .nav-link {
    margin: var(--margin-xs) var(--margin-s);
  }

  .product {
    padding: var(--padding-m);
  }

  .title {
    font-size: var(--font-size-s);
  }

  .count {
    padding: var(--padding-s);
  }
}

@media (min-width: 320px) and (max-width: 576px) {
  .header {
    flex-direction: column;
  }

  .input-wrapper {
    padding: var(--padding-s) var(--padding-s) 0 var(--padding-s);
    align-self: center;
    width: 100%;
  }

  .input {
    width: 100%;
  }

  .nav {
    flex-direction: column;
    align-items: center;
  }

  .nav-link {
    margin: var(--margin-xs) 0;
  }

  .networks {
    flex-direction: row;
  }
}
