@import url("./variables.css");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

li {
	list-style-type: none;

}

a {
	text-decoration: none;
	color: inherit;
}

#app {
	font-family: var(--primary-ff);
	background: var(--primary-bg);
	padding: var(--padding-l);

}

.header {
	display: grid;
	grid-template-rows: 80px 80px;
	grid-template-columns: 30% 70%;
	justify-content: space-between;
	align-items: center;
	padding: var(--padding-xs);


}

.logo-wrapper {
	z-index: 5;
}

.logo {
	width: var(--width-s);
	border-radius: 50%;
	box-shadow: var(--box-shadow-xl) var(--light-bg);
	cursor: pointer;

}

.input-wrapper {
	display: flex;
	justify-content: flex-end;
	align-self: flex-end;
	z-index: 5;
}

.input {
	font-size: var(--font-size-m);
	background: inherit;
	outline: none;
	border: none;
	border-bottom: 2px solid var(--light-bg);
	transition-duration: .3s;
}

.input:hover {
	border-bottom: 2px solid var(--attantion-bg);
}

.sub-header {
	grid-column: 2;
	grid-row: 2;
	display: flex;
	justify-content: center;
}

.nav {
	width: 70%;
	padding: var(--padding-l);
}

.menu__nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.nav-link {
	font-size: var(--font-size-s);
	color: var(--light-bg);
	transition-duration: .3s;
}

.nav-link:hover {
	color: var(--attantion-bg);
}

.header__burger {
	display: none;
}

.categoryes__wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	padding: var(--padding-m);
}

.category {
	text-align: center;
	margin-top: 20px;
}

.category-text {
	margin-top: 30px;
}

.category__img {
	max-width: 100%;
}

.footer {
	padding-top: 30px;
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.links__footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 300px;
}

.link__footer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.home-footer {
	width: 100px;
}

.text-link {
	font-size: var(--font-size-s);
	color: var(--dark-text);
	transition-duration: .3s;
}

.text-link:hover {
	color: var(--danger-text);
	transform: scale(1.2)
}



@media (max-width:768px) {
	body.lock {
		overflow: hidden;
	}
	.header {
		height: 50px;
		display: flex;
		justify-content: space-around;
	}

	.logo {
		width: var(--width-xs);
		border-radius: 50%;
		box-shadow: var(--box-shadow-xl) var(--light-bg);
		cursor: pointer;

	}

	.input {
		font-size: var(--font-size-s);
		background: inherit;
		outline: none;
		border: none;
		border-bottom: 2px solid var(--light-bg);
		transition-duration: .3s;
	}

	.input:hover {
		border-bottom: 2px solid var(--attantion-bg);
	}

	.header__burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		position: relative;
		z-index: 3;
	}

	.header__burger span {
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		top: 9px;
		transition: all .3s ease 0s;
	}

	.header__burger::before,
	.header__burger::after {
		content: '';
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all .3s ease 0s;
	}

	.header__burger::before {
		top: 0;
	}

	.header__burger::after {
		bottom: 0;
	}

	.header__burger.active::before {
		transform: rotate(45deg);
		top: 9px;
	}

	.header__burger.active::after {
		transform: rotate(-45deg);
		bottom: 9px;
	}

	.header__burger.active span {
		transform: scale(0);
	}


	.menu__nav {
		display: block;
		position: fixed;
		top: -100%;
		left: 0;
		overflow: auto;
		width: 100%;
		height: 100%;
		background-color: var(--attantion-bg);
		padding: 100px 10px 0px 10px;
		transition: all .3s ease 0s;
	}

	.menu__nav.active {
		top: 0;
	}

	.menu__nav li {
		margin-top: 20px;
		margin-left: 20px;
	}
	hr {
		margin-top: 30px;
	}
	.categoryes__wrapper{
		padding-top: 50px;
	}
}

/* .box {
    background: blue;
    border: 1px solid aliceblue;
    width: 10rem;
    height: 10rem;
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
} */
/* 
.box:first-child {
    background: pink;
}

.box:nth-child(2){
    background: violet;
}

.box:nth-child(3){
    background: orchid;
}

.box:nth-child(4){
    background: darkviolet;
}
 */