@import url("./variables.css");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

li {
	list-style-type: none;

}

a {
	text-decoration: none;
	color: inherit;
}

#app {
	font-family: var(--primary-ff);
	background: var(--primary-bg);
	padding: var(--padding-l);

}

.header {
	display: grid;
	grid-template-rows: 60px 60px;
	grid-template-columns: 30% 30% 20% 20%;
	justify-content: space-between;
	align-items: center;
	padding: var(--padding-xs);


}

.logo-wrapper {
	z-index: 5;
}

.logo {
	width: var(--width-s);
	border-radius: 50%;
	box-shadow: var(--box-shadow-xl) var(--light-bg);
	cursor: pointer;

}

.input-wrapper {
	grid-area: 1/4/2/5;
	display: flex;
	justify-content: flex-end;
	align-self: flex-end;

	z-index: 5;
}

.input {
	height: 1.5rem;
	font-size: var(--font-size-m);
	background: inherit;
	outline: none;
	border: none;
	border-bottom: 2px solid var(--light-bg);
	transition-duration: .3s;
}

.input:hover {
	border-bottom: 2px solid var(--attention-bg);
}

.sub-header {
	grid-area: 2/2/span2/5;
	display: flex;
	justify-content: center;
}

.nav {
	width: 70%;
	padding: var(--padding-l);
}

.menu__nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.nav-link {
	font-size: var(--font-size-s);
	color: var(--light-bg);
	transition-duration: .3s;
}

.nav-link:hover {
	color: var(--attention-bg);
}

.header__burger {
	display: none;
}

.categories__wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	padding: var(--padding-m);
}

.category {
	text-align: center;
	margin-top: 20px;
}

.category-text {
	margin-top: 30px;
}

.category__img {
	max-width: 100%;
}

.footer {
	padding-top: 30px;
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.links__footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 300px;
}

.link__footer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.home-footer {
	width: 100px;
}

.text-link {
	font-size: var(--font-size-s);
	color: var(--dark-text);
	transition-duration: .3s;
}

.text-link:hover {
	color: var(--danger-text);
	transform: scale(1.2)
}

@media (max-width:992px) and (min-width:769px) {
	body.lock {
		overflow: hidden;
	}

	.header {
		height: 50px;
		display: flex;
		justify-content: space-around;
	}

	.logo {
		width: var(--width-xs);
		border-radius: 50%;
		box-shadow: var(--box-shadow-xl) var(--light-bg);
		cursor: pointer;

	}

	.input {
		font-size: var(--font-size-s);
		background: inherit;
		outline: none;
		border: none;
		border-bottom: 2px solid var(--light-bg);
		transition-duration: .3s;
	}

	.input:hover {
		border-bottom: 2px solid var(--attention-bg);
	}

	.header__burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 3;
	}

	.header__burger span {
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		top: 9px;
		transition: all .3s ease 0s;
	}

	.header__burger::before,
	.header__burger::after {
		content: '';
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all .3s ease 0s;
	}

	.header__burger::before {
		top: 0;
	}

	.header__burger::after {
		bottom: 0;
	}

	.header__burger.active::before {
		transform: rotate(45deg);
		top: 9px;
	}

	.header__burger.active::after {
		transform: rotate(-45deg);
		bottom: 9px;
	}

	.header__burger.active span {
		transform: scale(0);
	}


	.menu__nav {
		display: block;
		position: fixed;
		top: -100%;
		left: 0;
		overflow: auto;
		width: 100%;
		height: 100%;
		background-color: var(--secondary-bg);
		padding: 100px 10px 0px 10px;
		transition: all .3s ease 0s;
	}

	.menu__nav.active {
		top: 0;
	}

	.menu__nav li {
		margin-top: 20px;
		margin-left: 20px;
	}

	hr {
		margin-top: 30px;
	}

	.categories__wrapper {
		padding-top: 50px;
	}
}


@media (max-width:768px) and (min-width:576px) {
	body.lock {
		overflow: hidden;
	}

	.header {
		height: 50px;
		display: flex;
		justify-content: space-around;
	}

	.logo {
		width: var(--width-xs);
		border-radius: 50%;
		box-shadow: var(--box-shadow-xl) var(--light-bg);
		cursor: pointer;

	}

	.input {
		font-size: var(--font-size-s);
		background: inherit;
		outline: none;
		border: none;
		border-bottom: 1px solid var(--light-bg);
		transition-duration: .3s;
	}

	.input:hover {
		border-bottom: 2px solid var(--attention-bg);
	}

	.header__burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		position: relative;
		z-index: 3;
	}

	.header__burger span {
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		top: 9px;
		transition: all .3s ease 0s;
	}

	.header__burger::before,
	.header__burger::after {
		content: '';
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all .3s ease 0s;
	}

	.header__burger::before {
		top: 0;
	}

	.header__burger::after {
		bottom: 0;
	}

	.header__burger.active::before {
		transform: rotate(45deg);
		top: 9px;
	}

	.header__burger.active::after {
		transform: rotate(-45deg);
		bottom: 9px;
	}

	.header__burger.active span {
		transform: scale(0);
	}


	.menu__nav {
		display: block;
		position: fixed;
		top: -100%;
		left: 0;
		overflow: auto;
		width: 100%;
		height: 100%;
		background-color: var(--secondary-bg);
		padding: 100px 10px 0px 10px;
		transition: all .3s ease 0s;
	}

	.menu__nav.active {
		top: 0;
	}

	.menu__nav li {
		margin-top: 20px;
		margin-left: 20px;
	}

	hr {
		margin-top: 30px;
	}

	.categories__wrapper {
		padding-top: 50px;
	}

	.footer {
		padding-top: 30px;
		height: 80px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;


	}

	.links__footer {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 300px;
	}

	.link__footer {
		max-width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.home-footer {
		width: 100px;
	}

	.text-link {
		font-size: var(--font-size-s);
		color: var(--dark-text);
		transition-duration: .3s;
	}

	.text-link:hover {
		color: var(--danger-text);
		transform: scale(1.2)
	}
}

@media (max-width:575px) {	

	body.lock {
		overflow: hidden;
	}

	.header {
		height: 50px;
	}

	.logo-wrapper {
		grid-area: 1/1/2/2;
	}

	.logo {
		width: var(--width-xs);
		border-radius: 50%;
		box-shadow: var(--box-shadow-xl) var(--light-bg);
		cursor: pointer;

	}

	.input-wrapper {
		display: contents;
		grid-area: 1/2/2/3;
		justify-content: center;
		align-items: center;
		height: .7rem;

	}

	.input {
		min-width: 100%;
		font-size: var(--font-size-s);
		background: inherit;
		outline: none;
		border: none;
		border-bottom: 1px solid var(--light-bg);
		transition-duration: .3s;
	}

	.input:hover {
		border-bottom: 2px solid var(--attention-bg);
	}

	.input::placeholder {
		font-size: var(--font-size-s);
		margin-bottom: 5px;
	}

	.sub-header {
		grid-area: 1/3/2/4;

	}

	.header__burger {
		display: block;
		justify-content: end;
		width: 30px;
		height: 20px;
		position: relative;
		z-index: 3;
	}

	.header__burger span {
		grid-area: 1/4/2/5;
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		top: 9px;
		transition: all .3s ease 0s;
	}

	.header__burger::before,
	.header__burger::after {
		content: '';
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all .3s ease 0s;
	}

	.header__burger::before {
		top: 0;
	}

	.header__burger::after {
		bottom: 0;
	}

	.header__burger.active::before {
		transform: rotate(45deg);
		top: 9px;
	}

	.header__burger.active::after {
		transform: rotate(-45deg);
		bottom: 9px;
	}

	.header__burger.active span {
		transform: scale(0);
	}


	.menu__nav {
		display: block;
		position: fixed;
		top: -100%;
		left: 0;
		overflow: auto;
		width: 100%;
		height: 100%;
		background-color: var(--secondary-bg);
		padding: 100px 10px 0px 10px;
		transition: all .3s ease 0s;
	}

	.menu__nav.active {
		top: 0;
	}

	.menu__nav li {
		margin-top: 20px;
		margin-left: 20px;
	}

	hr {
		margin-top: 30px;
	}

	.categories__wrapper {
		padding-top: 50px;
	}
}