@import url("./variables.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
    
}

a {
    text-decoration: none;
    color: inherit;
}

#app {
    font-family: var(--primary-ff);
    background: var(--primary-bg);
    padding: var(--padding-l);

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-xs);

}

.logo {
    width: var(--width-s);
    border-radius: 50%;
    box-shadow: var(--box-shadow-xl) var(--light-bg);
    cursor: pointer;
}

.input-wrapper{
    display: flex;
    align-self: flex-end;
}

.input {
    font-size: var(--font-size-m);
    background: inherit;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--light-bg);
}

.nav-link {
    color: var(--light-text);
}

.sub-header {
    display: flex;
    justify-content: end;
}

.nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.sub-header-nav {
    width: 70%;
    padding: var(--padding-l);
}

.main {
    display: grid;
    grid-template-columns: repeat(2 , 1fr );
}

/* .box {
    background: blue;
    border: 1px solid aliceblue;
    width: 10rem;
    height: 10rem;
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
} */
/* 
.box:first-child {
    background: pink;
}

.box:nth-child(2){
    background: violet;
}

.box:nth-child(3){
    background: orchid;
}

.box:nth-child(4){
    background: darkviolet;
}
 */
