@font-face {
  font-family: primary;
  src: url("../public/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

@font-face {
  font-family: secondary;
  src: url("../public/fonts/Titillium_Web/TitilliumWeb-Regular.ttf");
}

:root {
  /* BG */
  --primary-bg: linear-gradient(fuchsia, cyan);
  --primary-bg-light: linear-gradient(rgb(255, 197, 255), rgb(181, 255, 255));
  --secondary-bg: orchid;
  --attention-bg: purple;
  --warning-bg: gold;
  --danger-bg: tomato;
  --dark-bg: #232323;
  --light-bg: rgb(255, 255, 255);
  --success-bg: lightgreen;

  /* text */
  --secondary-text: orchid;
  --attention-text: purple;
  --warning-text: gold;
  --danger-text: tomato;
  --dark-text: #232323;
  --light-text: aliceblue;
  --success-text: lightgreen;

  /* font-size */
  --font-size-xl: 2rem;
  --font-size-l: 1.4rem;
  --font-size-m: 1.2rem;
  --font-size-s: 1rem;
  --font-size-xs: 0.8rem;

  /* font-family */
  --primary-ff: primary;
  --secondary-ff: secondary;

  /* padding */
  --padding-xl: 3rem;
  --padding-l: 2rem;
  --padding-m: 1.5rem;
  --padding-s: 1rem;
  --padding-xs: 0.5rem;

  /* margin */
  --margin-xl: 3rem;
  --margin-l: 2rem;
  --margin-m: 1.5rem;
  --margin-s: 1rem;
  --margin-xs: 0.5rem;

  /* box-shadow */
  --box-shadow-xl: 7px 10px 7px;
  --box-shadow-l: 6px 9px 6px;
  --box-shadow-m: 5px 8px 5px;
  --box-shadow-s: 4px 6px 4px;
  --box-shadow-xs: 3px 5px 3px;

  /* width */
  --width-xl: 23rem;
  --width-l: 13rem;
  --width-m: 8rem;
  --width-s: 5rem;
  --width-xs: 3rem;

  /* height */
  --height-xl: 23rem;
  --height-l: 13rem;
  --height-m: 8rem;
  --height-s: 4rem;
  --height-xs: 3rem;

  --primary-transition: 0.3s ease-in-out;
  --secondary-transition: 0.4s ease-in-out;
}
